.add-present {
    text-align: center;   
}

body {
  text-align: center;
  padding: 20%;
  padding-right: 4%;
  padding-left: 4%;
  background-color: rgb(238, 236, 236);
  font-family: Indie Flower;
  font-weight: 200;
  color: rgb(77, 75, 75);
};

.present {
    border: 3px solid rgb(178, 178, 180);
    border-radius: 7px;
    margin: 20px;
    padding: 15px;
}

Button {
    margin: 10px;
    background-color: rgb(172, 169, 169);
    color: gray;
    height: 40px;
    border: 5px solid rgb(161, 163, 161);
};

#peonies {
    width: 40px;
}

.btn-primary { 
    background-color: rgb(170, 165, 165);
 }

 .remove-button {
     background-color: gray;
 }

 img {
     width: 100%;
 }




